@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


/* For mobile and small windows */
@media  screen and (max-device-width: 800px) {
    .log-wrapper {
        display: none;
    }
    
    .main-content {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }

    .calculator-wrapper {
        margin: 0;
    }
}

html {
    font-family: 'Roboto', sans-serif;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 3rem;
    color:rgb(80, 80, 80);
}

.calculator-wrapper {
    border-radius: 0.5rem;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    box-shadow: 0 0 5px 2px rgb(221, 221, 221);
    margin: 0 6rem;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-plate {
    margin: 0.75rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: rgb(120,120,120);
}

.display-wrapper {
    margin: 0.5rem;
    width: 17.5rem;
    height: 3rem;
    border-radius: 3px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-shadow: 0 0 1px 1px rgb(221, 221, 221);
}

.display {
    margin: 0.5rem;
    overflow: hidden;
    color:rgb(80, 80, 80);
    font-weight: 700;
    font-size: 1.75rem;
}

.button-grid {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4,4rem);
    grid-template-rows: repeat(5,4rem);
    grid-template-areas:
        "all-clear clear backspace divide"
        "seven eight nine multiply"
        "four five six minus"
        "one two three plus"
        "decimal zero equals equals";
    grid-gap: 0.5rem;
    width: fit-content;
    border-radius: 0.5rem;
    color:white;
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all 100ms ease-in-out;
    box-shadow: 0 2px 2px 0px rgb(221, 221, 221);
    font-weight: 500;
    font-size: 1.2rem;
}

.log-wrapper {
    padding: 1rem;
    color:rgb(80, 80, 80);
    font-weight: 300;
    max-height: 1.2rem;
    max-width: 9rem;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 0.5rem;
    transition: all 150ms ease-in-out; /* Faster transition when hiding */
}

.log-wrapper-unhidden {
    max-height: 32.5rem;
    max-width: 18rem;
    transition: all 300ms ease-in-out; /* Slower transition when unhiding */
}


.log-header {
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.log-header p {
    margin: 0 1rem;
}

.log {
    visibility: hidden;
    opacity: 0%;
    margin: 1rem 0 0;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    max-height: 29rem;
    overflow: scroll;
    transition: all 50ms ease-in-out; /* Slower transition when unhiding */
}

.log-unhidden {
    visibility: visible;
    opacity: 100%;
    transition: all 150ms ease-in-out 250ms; /* Slower transition when unhiding */
}

.log-item {
    margin: 1.25rem 0 0;
}

.number {
    background: rgb(255, 231, 126);
    color:rgb(80, 80, 80);
}

.operator {
    background: lightsalmon;
}

.command {
    background: lightskyblue;
}

/* When button is "depressed", overlay with a partial opacity black and remove shadow */
/* Note: blending only works if one of the backgrounds is considered an image */
.active {
    background-image: linear-gradient(rgba(0,0,0,75%),rgba(0,0,0,75%));
    background-blend-mode: overlay;
    box-shadow: none;
}


/* The switch - the box around the slider */
.slider-container {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 16px;
}

/* Hide default HTML checkbox */
.slider-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: all 150ms;
    border-radius: 10px;
}

/* The slider knob */
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -2px;
    top: -2px;
    background-color: white;
    transition: all 150ms;
    border-radius: 50%;
    box-shadow: -2px 1px 5px 0 rgb(221, 221, 221);
}

input:checked + .slider {
    background-color: #2196F3;
}
  
/* Knob movement */
input:checked + .slider:before {
    transform: translateX(20px);
    box-shadow: 2px 1px 5px 0 rgb(221, 221, 221);

}