@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
    font-family: 'Roboto', sans-serif;
}

.material-icons {
    /* color:white; */
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 5rem;
}

.calculator-wrapper {
    /* border: 5px solid rgb(231, 231, 231); */
    border-radius: 0.5rem;
    justify-content: center;
    width: fit-content;
    padding: 0.5rem;
    box-shadow: 0 0 5px 2px rgb(221, 221, 221);
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-wrapper {
    margin: 1rem;
    width: 16.75rem;
    height: 3rem;
    border: 1px solid lightgray;
    border-radius: 3px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.display {
    margin: 0.5rem;
    overflow: hidden;
}

.button-grid {
    margin: 1rem;
    display: grid;
    /* background-color: grey; */
    grid-template-columns: repeat(4,4rem);
    grid-template-rows: repeat(5,4rem);
    grid-template-areas:
        "all-clear clear backspace divide"
        "seven eight nine multiply"
        "four five six minus"
        "one two three plus"
        "decimal zero equals equals";
    grid-gap: 0.4rem;
    width: fit-content;
    border-radius: 0.4rem;
    color:white;
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all 1s ease;
    box-shadow: 0 2px 1px 0px rgb(221, 221, 221);
}

.log-wrapper {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 1rem;
}

.log {
    margin: 1rem 0;
    border: 1px solid lightgray;
    border-radius: 0.5rem;

}

.number {
    background: rgb(254, 231, 126);
}

.operator {
    background: lightsalmon;
}

.command {
    background: lightskyblue;
}


.active {
    background-image: linear-gradient(rgba(0,0,0,75%),rgba(0,0,0,75%));
    background-blend-mode: overlay;
    box-shadow: none;
}